<div class="contact-details-container" *ngIf="pollDefinition">

  <div class="card">
    <div class="card-header">
      Poll Definition
    </div>
    <div class="card-body">
      <p>Name: <span class="badge badge-primary">{{pollDefinition.name}}</span></p>
      <p>Email:  <span class="badge badge-primary">{{pollDefinition.email}}</span></p>
      <p>Phone:  <span class="badge badge-primary">{{pollDefinition.phone}}</span></p>
    </div>
    <div class="card-footer text-muted">
      <span class="float-md-right ">
        <button (click)="edit.emit(pollDefinition)" class="btn btn-sm btn-outline-warning"> EDIT</button>
        <button (click)="remove.emit(pollDefinition)" class="btn btn-sm btn-outline-danger"> DELETE</button>
      </span>

    </div>
  </div>

</div>
