<h3>Open Polls</h3>

<!-- loading spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="dashboard-entry" *ngFor="let poll of polls">
  <div class="row" *ngIf="!isLoading && polls.length > 0">
    <div class="col-md-10">
      <a routerLink="/vote/{{poll.id}}"><h4>{{poll.name}}</h4></a>
      <p class="text-muted">{{poll.description}}</p>
      <p>{{ poll.pollDate | date: mediumDate }}</p>
    </div>
    <div class="col-md-2">
      <a routerLink="/results/{{poll.id}}">Results</a>
    </div>
  </div>
</div>
