.question-box {
  list-style-type: none;
}

.poll {
  color: #808080;
  font-size: 16px;
}

.poll-description {
  color: #808080;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.question-text {
  color: #0067b8;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1em 0em 2em 0em;
}

.answers ul {
  padding-left:0px;
}

.answer-box {
  padding: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 2px solid #eee;
  border-left-width: 0.35rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #0067b8;
    font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
  text-align: center;
}


.selected {
  outline: none;
  border-color: #0067b8;
  box-shadow: 0 0 10px #0067b8;
  background-color: #0067b8;
  color: #ffffff;
}

.disabled {
  pointer-events: none;
}

ul .answer-box:hover {
  outline: none;
  border-color: #0067b8;
  box-shadow: 0 0 10px #0067b8;
  cursor: pointer;
}

  .answers ul {
    list-style: none;
  }

.answer-box-1 {
  border-left-color: #0067b8;
}

.answer-box-2 {
  border-left-color: red;
}

.answer-box-3 {
  border-left-color: green;
}

.answer-text {

}

.vote-button {
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}
