.question-box {
  list-style-type: none;
}

.poll {
  color: #808080;
  font-size: 16px;
}

.poll-description {
  color: #808080;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.question-text {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 0rem 0rem 0rem;
}

.answers ul {
  padding-left:0px;
}

.answer-box {
  padding: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 2px solid #eee;
  border-left-width: 0.35rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  /*color: #0067b8;*/
    font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
  text-align: center;
}

.answer-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.answer-image {
  width: 30%;
  height: 30%;
  margin-left: 2rem;
}

@media (min-width: 375px) {

  .question-text {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .answer-image {
    width: 20%;
    height: 20%;
  }

  .answer-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {

  .question-text {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .answer-image {
    width: 15%;
    height: 15%;
  }

  .answer-text {
    font-size: 1.5rem;
    font-weight: 500;
  }
}


@media (min-width: 992px) {

  .question-text {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .answer-image {
    width: 15%;
    height: 15%;
  }

  .answer-text {
    font-size: 2rem;
    font-weight: 500;
  }
}


@media (min-width: 1200px) {

  .question-text {
    font-size: 3rem;
    font-weight: 500;
  }

  .answer-image {
    width: 10%;
    height: 10%;
  }

  .answer-text {
    font-size: 2.25rem;
    font-weight: 500;
  }
}

.selected {
  outline: none;
  border-color: #0067b8;
  box-shadow: 0 0 10px #0067b8;
  background-color: #0067b8;
  color: #ffffff;
}

.disabled {
  pointer-events: none;
}

ul .answer-box:hover {
  outline: none;
  border-color: #0067b8;
  box-shadow: 0 0 10px #0067b8;
  cursor: pointer;
}


.answer-text {

}

.vote-button {
  width: 100%;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.letter-a:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  font-size: 4rem;
  content: 'A';
}

.letter-a:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  font-size: 4rem;
  content: 'B';
}

.letter-a:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  font-size: 4rem;
  content: 'C';
}
