<!-- loading spinner-->
<div *ngIf="isLoading">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#fff"
               type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>

<div *ngIf="!isLoading">

  <div class="connection-indicator">
    <i class="fa fa-network-wired" [ngClass]="canSendMessage ? 'text-success' : 'text-danger'"></i>
  </div>

  <div class="poll" *ngIf="poll && isPollOpen">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="question-text text-primary">{{ currentQuestion?.questionText }}</div>-->
        <h1 class="text-primary text-center">{{ currentQuestion?.questionText }}</h1>

        <div class="poll-description">{{ poll.description }}</div>

        <span>Please select one answer</span>

        <div class="answers">
          <ul>
            <li style="cursor: pointer" class="answer-box answer-box-1"
                *ngFor="let answer of currentQuestion?.answers;let i=index" (click)="selectAnswer(i)" [class.selected]="selectedAnswerIdx === i" [class.disabled]="hasVoted || answer.isDisabled">

              <div class="answer-container clearfix">
                <img class="answer-image float-left img-thumbnail responsive" src="{{answer.imagePath}}" *ngIf="answer.imagePath != null" />
                <span class="letter-a float-left" *ngIf="answer.imagePath == null"></span>
                <!--<span class="letter-b float-left" *ngIf="answer.imagePath == null && i==1"></span>
          <span class="letter-c float-left" *ngIf="answer.imagePath == null && i==2"></span>-->

                <div>
                  <span class="answer-text text-primary">{{answer.answerText}}</span>
                </div>
              </div>

            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-primary vote-button" [disabled]="hasVoted || selectedAnswerIdx== -1" (click)="vote(votedMessageDlg)" [class.disabled]="hasVoted || !canSendMessage">Vote</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog -->
<ng-template #votedMessageDlg let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thankyou</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{votedMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Finish</button>
  </div>
</ng-template>
