<!-- loading spinner-->
<div *ngIf="isLoading">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#fff"
               type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>

<div *ngIf="!isLoading">

  <div class="connection-indicator">
    <i class="fa fa-network-wired" [ngClass]="canSendMessage ? 'text-success' : 'text-danger'"></i>
  </div>

  <div class="poll" *ngIf="poll && isPollOpen">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary text-center">{{ currentQuestion?.questionText }}</h1>

        <h5 class="text-muted text-center">{{ poll.description }}</h5>

        <small>Please select one answer</small>

        <div class="answers">
          <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start active" *ngFor="let answer of currentQuestion?.answers;let i=index" (click)="selectAnswer(i)" [class.active]="selectedAnswerIdx === i" [class.disabled]="hasVoted || answer.isDisabled">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1"><strong>{{answer.answerText}}</strong></h3>
                <img class="answer-image float-left img-thumbnail responsive" src="{{answer.imagePath}}" *ngIf="answer.imagePath != null" />
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-outline-primary vote-button" [disabled]="hasVoted || selectedAnswerIdx== -1" (click)="vote(votedMessageDlg)" [class.disabled]="hasVoted || !canSendMessage">Vote</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog -->
<ng-template #votedMessageDlg let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thankyou</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{votedMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Finish</button>
  </div>
</ng-template>
