<div *ngIf="!isLoading">

  <div class="connection-indicator">
    <i class="fa fa-cloud" [ngClass]="canSendMessage ? 'text-success' : 'text-danger'"></i>
  </div>

  <div class="poll" *ngIf="poll && isPollOpen">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <h1 class="question-text">{{ currentQuestion?.questionText }}</h1>

        <div class="text-muted mb-3">Please select one answer</div>

        <div class="answers">
          <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start active" *ngFor="let answer of currentQuestion?.answers;let i=index" (click)="selectAnswer(i)" [class.active]="selectedAnswerIdx === i" [class.disabled]="hasVoted || answer.isDisabled">
              <div class="d-flex w-100 justify-content-between">
                <div class="answer-text">{{answer.answerText}}</div>
                <img class="answer-image float-left img-thumbnail responsive" src="{{answer.imagePath}}"                *ngIf="answer.imagePath && answer.imagePath !== ''" />
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-outline-primary vote-button" [disabled]="hasVoted || selectedAnswerIdx== -1" (click)="vote(votedMessageDlg)" [class.disabled]="hasVoted || !canSendMessage"><i class="fa fa-check-square"></i>  Vote</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog -->
<ng-template #votedMessageDlg let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thankyou</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{votedMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Finish</button>
  </div>
</ng-template>
