<h1>{{ pageTitle }}</h1>
<!--<app-loading *ngIf="isLoading"></app-loading>-->

<!--<ng-template [ngIf]="!isLoading">-->
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success mb-3" (click)="createPollDefinition()">
        New Poll Definition
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="pollDefinitions; else loading">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col" width="50%">Description</th>
              <th scope="col" align="center">Published</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let definition of pollDefinitions; let i=index">
              <th scope="row">
                {{definition.name}}<br />
                <small>Expires on {{definition.expiryDate | date:'medium' }}</small>
              </th>
              <td width="50%">{{definition.description}}</td>
              <td align="center"><i class="fa fa-check text-primary" *ngIf="definition.isPublished"></i></td>

              <td>
                <span>
                  <button type="button" class="btn btn-primary mr-1" (click)="editPollDefinition(definition.id)">
                    EDIT
                  </button>
                  <button type="button" class="btn btn-danger mr-1" (click)="deletePollDefinition(definition.id)">
                    DELETE
                  </button>
                  <button type="button" class="btn btn-warning mr-1" (click)="publishPollDefinition(definition.id)" *ngIf="!definition.isPublished">
                    PUBLISH
                  </button>
                  <button type="button" class="btn btn-warning mr-1" (click)="unpublishPollDefinition(definition.id)" *ngIf="definition.isPublished">
                    UNPUBLISH
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!--</ng-template>-->
