<form [formGroup]="questionForm">

      <!-- Question Text -->
  <div class="form-group">
    <label for="questionText">Question Text</label>
    <input id="questionText"
           type="text"
           class="form-control"
           formControlName="questionText">
    <!--<div *ngIf="formErrors.questionText"
       class="small text-danger formErrors"
       [innerHTML]="formErrors.questionText">
  </div>-->
  </div>

        <!-- emit delete event up w/ index of question -->
        <button class="btn btn-danger" (click)="delete()">Delete</button>

</form>
