<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success mb-3" (click)="newPollDefinition()">
      New Poll Definition
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="pollDefinitions; else loading">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col" width="50%">Description</th>
            <th scope="col" align="center">Published</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let definition of pollDefinitions">
            <th scope="row">
              {{definition.name}}<br />
              <small>Expires on {{definition.expiryDate | date:'medium' }}</small>
            </th>
            <td width="50%">{{definition.description}}</td>
            <td align="center"><i class="fa fa-check text-primary" *ngIf="definition.isPublished"></i></td>

            <td>
              <span>
                <button type="button" class="btn btn-primary mr-1" (click)="editPollDefinition(definition)">
                  EDIT
                </button>
                <button type="button" class="btn btn-danger mr-1" (click)="deletePollDefinition(definition)">
                  DELETE
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="publishPollDefinition(definition)" *ngIf="!definition.isPublished">
                  PUBLISH
                </button>
                <button type="button" class="btn btn-warning mr-1" (click)="unpublishPollDefinition(definition)" *ngIf="definition.isPublished">
                  UNPUBLISH
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"
               size="medium"
               color="#fff"
               type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</ng-template>
