.dashboard-entry {
  padding: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 2px solid #008cba;
  border-radius: 0.25rem;
}

.dashboard-entry:hover {
  background-color: #f3eeee;
}

.dashboard-entry a {
  text-decoration: none
}

.link-list li {
  list-style-type: none;
}

.btn-sq {
  margin: 3px;
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
