<form [formGroup]="pollDefinitionForm">
  Poll Name: {{pollDefinitionForm.controls.name.value}}

  <p>Questions:</p>
  <button mat-button-raised color="primary" (click)="addquestion()">Add Question</button>
  <ul>
    <li *ngFor="let question of questions?.controls; let i = index">
      <app-question-form [index]="i" [questionForm]="question" (deletequestion)="deletequestion($event)"></app-question-form>
    </li>
  </ul>

  <button type="submit" class="btn btn-success" (click)="savePollDefiniton()" [disabled]="pollDefinitionForm.invalid">Submit</button>
</form>
