<h5>{{isEditing  ? "Edit" : "Create"}} Poll Definition</h5>

<form [formGroup]="pollDefinitionForm" (ngSubmit)="onSubmit()">

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
            <small id="nameHelp" class="form-text text-muted">Enter a unique name for your poll.</small>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isPublished">
            <label class="form-check-label" for="isPublished">
              Published
            </label>
          </div>

          <div class="form-group">
            <label for="name">Theme</label>
            <select class="form-control">
              <option selected value="default">Default</option>
            </select>
          </div>

          <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="expiryDate">Expiry Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <small id="expiryDateHelp" class="form-text text-muted">Enter a date, after which the poll will be unavailable.</small>
          </div>

          <div class="form-group">
            <label for="name">Tags</label>
            <tag-input theme="minimal" formControlName="tags"></tag-input>
          </div>
        </div>
        <div class="col-md-12">
          <h3>Questions</h3>

          <app-question-list formArrayName="questions" [questionList]="pollDefinitionForm.get('questions')">
          </app-question-list>

        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-success" [disabled]="!pollDefinitionForm.valid">{{isEditing ? "Save" : "Create"}}</button>
      </div>
    </div>
  </div>


</form>


<p>
  Form Status: {{ pollDefinitionForm.status }}
</p>
