<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jrd-pollr-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dcf250f4-a364-4dd6-b578-de243074af48/resourceGroups/pollr-rg/providers/Microsoft.Web/sites/jrd-pollr-functions</ResourceId>
    <UserName>$jrd-pollr-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jrd-pollr-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>