.dashboard-entry {
  padding: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 2px solid #eee;
  border-left-width: 0.35rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #0067b8;
  font-size: 18px;
  font-weight: 500;
  padding-left: 1em;
  border-left-color: #0067b8;
}

.dashboard-entry a {
  text-decoration: none
}

.link-list li {
  list-style-type: none;
}

.btn-sq {
  margin: 3px;
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

